body
{
min-height:100vh;
background-image:linear-gradient(to bottom, #004400, #00CA00);
}

font.Intro
{
font-family:"Cascadia Code";
font-weight:bold;
color:lime;
font-size:24px;
}

.Clickables
{
font-family:"Cascadia Code";
font-weight:bold;
color:black;
font-size:16px;
}

.IMGResponsiveGovernor
{
max-width:100%;
height:auto;
}

.ClickRibbon
{
position: relative;
bottom:0;
left:0;
width:100%;
max-width:100vw;
height:auto;
background-color: #11FF11;
z-index:1;
padding-top:clamp(8px, 1vw, 16px);
padding-bottom:clamp(8px, 1vw, 16px);
}

.ButtonStyle
{
margin-left:5vw;
width:190px;
height:40px;
background-color:lime;
}

.rightSideButtonExt
{
margin-left:30vw;
}